asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
cloudinary==1.42.2
Django==5.1.6
django-cloudinary-storage==0.3.0
gunicorn==23.0.0
idna==3.10
# Replace mysqlclient with PyMySQL
PyMySQL==1.1.0  # Upgraded to latest version
numpy==1.26.4  # Corrected version (2.2.3 doesn't exist)
packaging==24.0
pandas==2.0.3  # Corrected version (2.2.3 doesn't exist)
pillow==10.3.0  # Corrected version (11.1.0 doesn't exist)
python-dateutil==2.9.0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
setuptools==69.5.1
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.6.0